# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
/staticfiles/
/media/
/db.sqlite3

# Environment & Secrets
.env
*.key
*.pem

# Docker
*.log
*.pid
*.sock
*.tmp
.docker/
*.tar
*.gz

# Virtual env
venv/
.env/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
